<h1>Questions#ask</h1>
<p>Find me in app/views/questions/ask.html.erb</p>


<form action="/answer" method="get">
  <input type="text" name="query" placeholder="What is your question?">
  <input type="submit">
</form>
